.actionButton {
  outline: transparent;
  border: transparent;
  background-color: var(--box);
  box-shadow: var(--shadow);
  margin: var(--sm-2);
  padding: var(--sm-3);
  border-radius: var(--sm-1);
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
}

.actionButton:hover {
  background-color: var(--box-hover);
  scale: 1.02;
  color: var(--text-light);
}
