.board {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: flex-center;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: var(--sm-2);
  padding-left: 0;
}
.board::-webkit-scrollbar {
  width: 1px;
}

.board::-webkit-scrollbar-thumb {
  background-color: var(--box);
  border-radius: 1px;
}

.board::-webkit-scrollbar-thumb:hover {
  background-color: var(--box-hover);
}
