.board {
  height: 100%;
  width: auto;
  display: flex;
  gap: var(--md-3);
  justify-content: flex-center;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.board::-webkit-scrollbar {
  display: none;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 272px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  gap: var(--md-1);
}

.listWrapper::-webkit-scrollbar {
  display: none;
}

.addListButton {
  height: auto;
  width: 272px;
  border: transparent;
  outline: transparent;
  padding: var(--md-1);
  background-color: #35323248;
  border-radius: var(--sm-2);
  color: var(--text-light);
  font-size: var(--md-1);
  text-align: left;
  box-shadow: var(--shadow);
  transition: 0.2s;
  cursor: pointer;
}

.addListButton:hover {
  background-color: #3532327c;
}
