.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  outline: transparent;
  border: transparent;
  background-color: var(--box);
  box-shadow: var(--shadow);
  padding: var(--sm-3);
  border-radius: var(--sm-1);
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
  color: var(--dark-secondary);
  font-size: var(--sm-2);
}

.actionButton:hover {
  background-color: var(--box-hover);
  scale: 1.02;
}
