:root {
  /* colors */
  --primary: #ff0043;
  --secondary: #fafafa;
  --complementary: #535353;

  --dark-primary: #100f10;
  --dark-secondary: #1b1b1b;
  --dark-complementary: #242424;

  /* fonts */
  --text-light: #fffffff5;
  --text-main: #ffffffab;
  --text-bolder: #ffffff73;

  /* sizes */
  --sm-1: 0.375rem;
  --sm-2: 0.625rem;
  --sm-3: 0.875rem;

  --md-1: 1rem;
  --md-2: 1.375rem;
  --md-3: 1.75rem;

  --lg-1: 2.5rem;
  --lg-2: 3.5rem;
  --lg-3: 4.5rem;

  --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  position: fixed;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: var(--md-1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#__next {
  height: inherit;
  width: inherit;
  overflow: hidden;
  align-items: center;
}

main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #faaca8;
  padding: var(--md-1) 0;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

h1 {
  color: var(--text-w-light);
}

.boardList {
  height: 100%;
  width: 15%;
  border-right: 1px solid var(--text-w-bolder);
  min-width: 180px;
}

.boardContent {
  height: 100%;
  width: 85%;
}
