:root {
  --primary: #ff0043;
  --secondary: #fafafa;
  --complementary: #535353;

  --dark-primary: #100f10;
  --dark-secondary: #1b1b1b;
  --dark-complementary: #3c3b3b;

  --text-light: #fffffff5;
  --text-main: #ffffffab;
  --text-bolder: #ffffff73;

  --sm-1: 0.375rem;
  --sm-2: 0.625rem;
  --sm-3: 0.875rem;

  --md-1: 1rem;
  --md-2: 1.375rem;
  --md-3: 1.75rem;

  --lg-1: 2.5rem;
  --lg-2: 3.5rem;
  --lg-3: 4.5rem;

  --box: #201f1f43;
  --box-hover: #201f1f86;

  --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  position: fixed;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: var(--md-1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
  list-style: none;
}

#__next {
  height: inherit;
  width: inherit;
  overflow: hidden;
  align-items: center;
}

main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(19deg, #e1e4e9 0%, #e2e2e2 100%);
}

.logo {
  cursor: pointer;
}

.menu {
  height: 100%;
  width: 15%;
  min-width: 200px;
  border-right: 1px solid var(--box);
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-gap: var(--sm-1);
  padding: var(--sm-2);
  box-shadow: var(--shadow);
}

.menu h2 {
  text-align: center;
  color: var(--dark-complementary);
  font-size: var(--md-2);
}

.boardList {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--md-3);
  overflow-y: scroll;
  padding: var(--sm-2);
  align-items: center;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--box);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--box-hover);
}

.boardList li {
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;
  box-shadow: var(--shadow);
  padding: var(--sm-2);
  border-radius: var(--sm-1);
  background-color: var(--text-main);
  width: 100%;
  text-align: center;
  color: var(--dark-complementary);
}
.boardList li:hover {
  color: var(--dark-complementary);
  background-color: var(--text-light);
  font-weight: bold;
  scale: 1.04;
}

.selected {
  color: var(--dark-complementary);
  background-color: var(--text-light);
}

.boardActions {
  display: flex;
  flex-direction: column;
  padding: var(--sm-2);
  gap: var(--sm-2);
}

.content {
  height: 100%;
  width: 85%;
}

.boardDisplay {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.boardDisplay .header {
  display: flex;
  width: 100%;
  height: auto;
  padding: var(--sm-2);
  color: var(--dark-complementary);
  justify-content: space-between;
  margin-bottom: var(--sm-2);
  box-shadow: var(--shadow);
  background-color: var(--text-bolder);
}

.boardTitle {
  text-transform: uppercase;
  font-size: var(--md-2);
  font-weight: bold;
  cursor: context-menu;
}

.boardDisplay .header input {
  height: auto;
  text-transform: uppercase;
  font-weight: bold;
  border: transparent;
  outline: transparent;
  background-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--md-2);
  color: var(--dark-complementary);
}

.content .preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  gap: var(--md-3);
}

.preview h1 {
  font-size: var(--lg-2);
  color: var(--complementary);
}

.preview p {
  font-style: italic;
  font-size: var(--md-3);
}

.preview img {
  height: auto;
  width: 50%;
  border-radius: var(--sm-2);
  box-shadow: var(--shadow);
}
